* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  color: white;
  font-family: sans-serif;
  padding: 4rem 8rem;
  width: 100%;
  min-height: 100vh;
  background: rgb(9, 135, 160);
  background: linear-gradient(
    90deg,
    rgba(9, 135, 160, 1) 0%,
    rgba(128, 90, 213, 1) 100%
  );
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90px;
}

.app__name {
  background: #004ec9;
  border-radius: 4px;
  padding: 1px 4px;
  font-size: 12px;
  line-height: 16px;
}

.menu-wrapper {
  border: 0.6px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 60px;
}

.menu {
  width: 215px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  border-radius: 8px;
}

.menu__item {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.menu__item.disabled {
  opacity: 40%;
  cursor: not-allowed;
}

.menu__item:not(.disabled):hover {
  cursor: pointer;
  user-select: none;
  background: #004EC9;
}

.menu_divider {
  margin: 6px 8px;
  border: 0;
  border-radius: 99px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.menu__item--shortcuts {
  display: flex;
  align-items: center;
  font-weight: 200;
}

.menu__item--shortcuts > *:not(:last-child) {
  margin-right: 2px;
}